!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		link( rel="stylesheet", media="screen", href="styles/main.css")

	body
		.background

		.home
			.title Soul Society
			.sub-title Brining the groove that mekes you move
			.about
				| SF Bay Area's premier soul/pop/R&B party cover band.
				br
				| They play the hits, the B-Sides, and the best mash-ups from the 70's through today.

		.footer
			.nav

				li Members
				li.book Book us
				li Contact us

		#Scripts
			script( src="scripts/lib/jquery.min.js" )
			script( src="scripts/lib/jquery-ui.min.js" )

			script( src="scripts/app.js", type"text/javascript")
